body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%; /* Center and adjust button width */
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    font-weight: bold;
}

.slider-container {
    width: 95%;
    display: flex;
    align-items: center;
}

.slider-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #d3d3d3;
    height: 5px; 
    border-radius: 5px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-container input[type="range"]:hover {
    opacity: 1;
}

.slider-container span {
    display: inline-block;
    margin-left: 10px;
}